body {
  background-image: url('../../../../assets/fondo.jpeg');
  background-size: cover;
  height: 100vh;
  display: grid;
  place-items: center;
  margin-top: 100px;
  }

  #main-container {
      border-radius: var(--border-radius);
      background: rgba( 255, 255, 255, 0.3 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 4px );
      -webkit-backdrop-filter: blur( 4px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.4 );
  }

  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 90px);
    z-index: 1;
    left: calc(50% - 50px);
  }

  button {
    background-color: rgb(220, 80, 52);
    font-weight: 700;
  }

  button:active:hover {
    background-color: rgb(242, 175, 0);
    color: rgb(94, 94, 94);
    font-weight: 700;
  }

  button:hover {
    background-color: rgb(242, 175, 0);
    color: rgb(94, 94, 94);
    font-weight: 700;
  }
