.container {
  margin-top: 100px;
}

#botonGuardar {
  background-color: rgb(220, 80, 52);
  font-weight: 700;
}

#botonGuardar:active:hover {
  background-color: rgb(242, 175, 0);
  color: rgb(94, 94, 94);
  font-weight: 700;
}

#botonGuardar:hover {
  background-color: rgb(242, 175, 0);
  color: rgb(94, 94, 94);
  font-weight: 700;
}
